body {
    color:blue;
}

.logo {
    border-radius: 50%;
}
#h2 {
    font-size: medium;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    padding-top: 10px;
}

.para1,
.para2,
.para3,
.para4,
.para5,
.para6,
.para7,
.para8,
.para9,
.para10,
.para11 {
    padding-top: 50px;
    display: none;
    font-style: italic;
    color: #F7DC6F;
}
.footer {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    margin: 10px 10px 10px 10px;
}